
*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #9b1244;
	/* color: rgb(255, 235, 235); */
	color: #222;
	line-height: 2;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: rgb(216, 208, 208);

}
.container
{
	background-color: rgb(167, 156, 156);
}
.text-center{
	font-size: 30px;
	font-weight: bold;
	color: white;
}

h2{
	text-align: center;
	color: rgb(223, 217, 217);
	font-weight: bold;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}